body{
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
}

.logo {
    background: url(../img/qianyu-logo.png) no-repeat;
    background-size: 96px 125px;
    float: left;
    text-indent: -100em;
    width: 82px;
    height: 21px;
    margin: 0 0 0 15px;
    position: relative;
}
#lrcalltxt{
	text-align: center;
	display: none;
}
.lrc-go-main {
    height: 79px;
    overflow-y: scroll;
    box-shadow: #f7d4d4 0px 0px 14px 1px;
    border-radius: 15px;
    text-align: left;
    padding: 0 15px;
}
#lrc-go {
    margin-top: 25px;
    transition-duration: 2s;
}
.lyric-i{
	position: relative;
}
.lyric-i{
	padding: 8px 0;
}
.lyric-list {
    color: #999;
    margin: 0;
    padding: 8px 0;
    font-size: 14px;
}
.active {
    color: #ff6a00;
}
#lrctxt{
	display: none;
}
.red{
	color: #ff6a00;
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	z-index: 10;
	position: absolute;
	top: 10px;
	left:0;
}
#mRecord{
    border-right: 1px solid #aaa;
}
#cvs{
	height: 60px;
    width: 100%;
}
.recodButton button{
	width: 50%;
	height: 30px;
    background-color: #f1f1f1;
    border-style: none;
}
.download button{
    /*background-color: #90fb04;*/
    width: 100%;
    margin-bottom: 50px;
}
.qy-video video{
    width: 100%;
    margin-top: 5px;
}
.qy-video {
    /*margin-top: 0;*/
}
.qy-recod p{
    margin:5px 0;
}
.qy-recod button,
.qy-recod input{
    border-style: solid;
}
.qy-recod {
    text-align: left;
    background-color: #f1f1f1;
}
.qy-recod .single{
    background-color: #f1f1f1;
}
.qy-recod .double{
    background-color: #ddd;
}
.clearBoth{
    clear: both;
}
.qy-left{
    /*float: left;*/
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}
.header{
    margin-top: 20px;
}
.header a{
    color: #999;
    border: 0;
    text-decoration:none;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
}
.qy-eqest{
    display: none;
}

.qy-eqest {
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.qy-bg {
    width:100%;
    height:100%;
    position: fixed;
}
.qy-cont{
    background: #fff;
    width: 85%;
    margin: 25% auto 0;
    border-radius: 8px;
    text-align: center;
    padding: 14px;
}
