body{
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
}
#lrcalltxt{
	text-align: center;
	display: none;
}
.lrc-go-main {
    height: 79px;
    overflow-y: scroll;
    box-shadow: #f7d4d4 0px 0px 14px 1px;
    border-radius: 5px;
    text-align: left;
    padding: 0 15px;
}
#lrc-go {
    margin-top: 25px;
    transition-duration: 2s;
}
.lyric-i{
	position: relative;
}
.lyric-i{
	padding: 8px 0;
}
.lyric-list {
    color: #999;
    margin: 0;
}
.active {
    color: #ff6a00;
}
#lrctxt{
	display: none;
}
.red{
	color: #ff6a00;
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	z-index: 10;
	position: absolute;
	top: 8px;
	left:0;
}
#cvs{
	height: 60px;
    width: 100%;
}
.recodButton button{
	width: 50%;
	height: 
}

